/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container-limit {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-limit-small {
}


.container-limit-small img{
    width: 420px;
    height: 280px;
    
}

.mt-3{
    margin-top: 3vh;
}

.mr-3{
    margin-right: 3rem;
}

.mr-4{
    margin-right: 4rem;
}

.img-center{
        width: 420px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    
}

.container-limit-large {
}

.pl-3{
    margin-left: 3rem;
}

.pr-3{
    margin-left: 3rem;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-full {
    max-width: 3000px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrum {
    background-color: #445c86;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    bottom: 30px;
    color: #edeff4;
    font-size: 20px;
    left: 0;
    padding: 25px;
    position: absolute;
}

.dcmMessage {
    background-color: #f2f2f2;
    padding: 20px 100px;
}

.dcmMessage .messageContainer {
    grid-gap: 20px;
    background-color: #f2f5fd;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
}

.dcmMessage .messageContainer .message {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
}



.messageContainer .message .content {
    color: #707070;
    font-size: 18px;
    margin-bottom: 1.5rem;
}

.AboutASoSE {
    font-size: 1rem;
    padding: 30px 150px;
    text-align: left;
}

.AboutASoSE {
    background-color: #f2f2f2;
}

.visionmission-container {
    font-size: 1.8rem;
    padding: 0 200px;
}

.visionmission-container .vision {
    background-color: #f2f2f2;
}

.visionmission-container .mission {
    background-color: #f2f2f2;
    font-size: 1rem;
    padding: 15px 0;
    text-align: left;
}

.AboustASose_container, .AboutASoSE {
    background-color: #f2f2f2;
}


/* Mount Mount*/

.instagram-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
  }

  .carousel-item {
    scroll-snap-align: start;
    flex: 0 0 300px; /* Adjust width as needed */
    margin-right: 10px;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }

  /* Styling for Navigation Arrows (Optional) */
  .carousel-prev, 
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
  }

  .carousel-prev {
    left: 10px;
  }

  .carousel-next {
    right: 10px;
  }


/* Mount Mount */

/* Header Styles */


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 90px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.search-icon {
    cursor: pointer;
}

/* Hero Section Styles */
.hero {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 0;
}

.down-arrow {
    font-size: 30px;
}

/* Explore Section Styles */
.explore {
    padding: 50px 0;
    text-align: center;
}



/* Why Choose Section Styles */
.why-choose {
    background-color: #f2f2f2;
    padding: 50px 0;
}

.why-choose h2 {
    text-align: center;
  
    margin-bottom: 50px;
}


.reason {
    text-align: center;
}

.reason img {
    object-fit: cover;
}

.why-choose button {
    display: block;
    margin: 50px auto;
    padding: 15px 30px;
    background-color: #007238;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Highlights Section Styles */
.highlights {
    padding: 50px 0;
}

.highlight {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    color: #fff;
}

.green {
    background-color: #92d050;
}

.red {
    background-color: #c65911;
}

.yellow {
    background-color: #ffc000;
}

.highlight img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

.highlight h3 {
    margin-bottom: 0;
}

/* News Section Styles */
.news {
    background-color: #f2f2f2;
    padding: 50px 0;
}

.news h2 {
    text-align: center;
    margin-bottom: 50px;
}

.news-articles {
    display: flex;
    justify-content: space-between;
}



.article img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.article h3 {
    margin-bottom: 10px;
}

.read-more {
    color: #007238;
    text-decoration: none;
}

.rss-feed {
    float: right;
    font-size: 14px;
    color: #007238;
}

.news button {
    display: block;
    margin: 50px auto;
    padding: 15px 30px;
    background-color: #007238;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Stay Connected Section Styles */
.stay-connected {
    padding: 50px 0;
}

.stay-connected h2 {
    text-align: center;
    margin-bottom: 50px;
}

.image-slider {
    display: flex;
    overflow-x: auto;
}

.image-slider img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

.social-icons img{
    width: 24px;
    height: 24px;
}

/* Footer Styles */
footer {
    background-color: #00594c;
    color: #fff;
    padding: 30px 0;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    outline: none; 
}

.footer-links ul li a {
    display: flex; /* Enable flexbox for the links */
  align-items: center; /* Vertically center the content within the link */
  justify-content: center; /* Horizontally center the content within the link */
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    outline: none; 
}

.footer-links ul{
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Enable flexbox layout */
    justify-content: space-between; 
    list-style-type: none;
    width: 100%;
    outline: none; 
}
.footer-links ul li{
    flex: 25%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    outline: none; 
}

.footer-info {
    text-align: center;
    margin-bottom: 30px;
}

.footer-info h3 {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
}

.footer-logos {
    display: flex;
    justify-content: space-around;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
    
}

.copyright a{
    color: white;
}

.carousel-container {
    position: relative;
    width: 100%; /* Adjust as needed */
    overflow: hidden;
  }

  .carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Adjust transition duration */
  }

  .carousel-slide {
    flex: 0 0 100%;
    width: 100%;
  }

  .carousel-slide img {
    width: 100%;
    display: block; /* Prevent image bottom margin */
  }

  /* Pagination Dots */
  .carousel-dots {
    position: absolute;
    bottom: 10px; /* Adjust vertical position */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .carousel-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    cursor: pointer;
  }

  .carousel-dot.active {
    background-color: white; /* Solid white for active dot */
  }


  .reasons {
    display: flex;
    justify-content: space-between;
}

.centered-heading {
    text-align: center;
    font-size: 36px;
  }

header {
    margin-bottom: 6px;
}

.mt-5{
    margin-top: 5vh;
}

.mb-5{
    margin-bottom: 5vh;

}
.block {
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-block {
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

.image-block {
    background-size: cover;
    background-position: center;
}

/* Example color styles - customize as needed */
.block:nth-child(1) { background-color: #c49000; }
.block:nth-child(2) { background-color: #8e24aa; }
.block:nth-child(3) { background-color: #9ccc65; }
.block:nth-child(4) { background-color: #ffa726; } 

.text-image {
    flex-direction: column;
}

.col-container {
    display: flex;
    flex-direction: column;
    /*max-width: 1200px*/       ;
    /*margin: 0 auto;*/ 
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.footer-container {
    display: flex;
    flex-direction: column;
    /*max-width: 1200px*/       ;
    /*margin: 0 auto;*/ 
    margin-top: 5vh;
}

.text-image-block{
    display: flex;
    flex-direction: row;
}

.text-image-item{
    flex: 0 0 25%;
    box-sizing: border-box;    
}

.text-image-item {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    text-align: center; /* Center the text inside the div */
  }

  .text-image-item p{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

.text-image-item img {
    width: 100%; /* Image will occupy 100% width of its parent (.item) */
    display: block; /* Prevent spacing below image */
 }    

 .item-background-img {
    background-image: url('20.jpg'); /* Replace with your image path */
      background-size: cover; /* Adjust as needed (cover, contain, 100% 100%, etc.) */
      background-repeat: no-repeat; /* Prevent image repetition */
      width: 100%;
      height: auto;
 }


 .reason img {
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 10px solid #fff;
}
 

@media (max-width: 360px) {
    .container {
      flex-direction: column;
    }

    .container nav{
        margin-top: 10px;
      }
 
      .reasons {
     flex-direction: column;
    }

    .article {
        width: 100%;
    }
    .reason img {
        width: 150px;
        height: 150px;
      
    }
    nav a{
        font-size: 12px;
    
       } 
       header {
        padding: 5px;
    }
    .carousel-slide img {
        height: 200px;
      }
    
      .explore h2 {
    
        margin-bottom: 20px;
    }

    h2 {
        font-size: 20px;
    }

    
    .text-image-item img {
        height: 80px; /* Maintain aspect ratio */
     }    
     .footer-links a {
        font-size: 12;
     }
    }

@media (min-width: 360px) {
    .container {
      flex-direction: column;
    }

    .article {
        width: 100%;
    }

    .container nav{
        margin-top: 10px;
      }
 
      .reasons {
     flex-direction: column;
    }
    .reason img {
        width: 175px;
        height: 175px;
      }

    nav a{
        font-size: 14px;
    
       } 
       header {
        padding: 20px;
    }

    .carousel-slide img {
        height: 320px;
      }
      .explore h2 {
        margin-bottom: 20px;
    }
    h2 {
        font-size: 22px;
    }

    .text-image-item img {
        height: 110px; /* Maintain aspect ratio */
     }    
     .footer-links a {
        font-size: 16;
     }
}

@media (min-width: 540px) {
    .container {
      flex-direction: column;
    }

    .article {
        width: 100%;
    }

    .container nav{
        margin-top: 10px;
      }
 
      .reasons {
     flex-direction: column;
    }
    .reason img {
        width: 200px;
        height: 200px;
      }

    nav a{
        font-size: 16px;
    
       } 
       header {
        padding: 20px;
    }
    .carousel-slide img {
        height: 360px;
      }
      .explore h2 {
        margin-bottom: 20px;
    }
    h2 {
        font-size: 28px;
    }
    .text-image-item img {
        height: 160px; /* Maintain aspect ratio */
     }    

     .footer-links a {
        font-size: 18;
     }
}

@media (min-width: 720px) {
    .container {
      flex-direction: column;
    }

    .container nav{
        margin-top: 10px;
      }
 
      .reasons {
     flex-direction: column;
    }

    .article {
        width: 100%;
    }
    .reason img {
        width: 225px;
        height: 225px;
         
    }
    nav a{
        font-size: 16px;
    
       } 
       header {
        padding: 20px;
    }

    .carousel-slide img {
        height: 440px;
      }
    
      .explore h2 {
        margin-bottom: 20px;
    }   
    h2 {
        font-size: 32px;
    }
    .text-image-item img {
        height: 180px; /* Maintain aspect ratio */
     }    

     .footer-links a {
        font-size: 20;
     }

     .header-sub-cont h2{
        font-size: 28px;
     }
}

  @media (min-width: 961px) {
    .container {
      flex-direction: row;
    }

    .reasons {
        flex-direction: row;
    }

    .article {
        width: 32%;
    }

    .reason img {
        width: 250px;
        height: 250px;
    }
   nav a{
    font-size: 20px;

   } 
   header {
    padding: 20px;
}
.carousel-slide img {
    height: 660px;
  }
  .explore h2 {
    margin-bottom: 20px;
}
h2 {
    font-size: 36px;
}
.text-image-item img {
    height: 300px; /* Maintain aspect ratio */
 } 
 
 .footer-links a {
    font-size: 20;
 }

 .header-sub-cont h2{
    font-size: 32px;
 }
  }

  .csslider {
    -moz-perspective: 1300px;
    -ms-perspective: 1300px;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
}
.csslider > input {
    display: none;
}
.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
}
.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
}
.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
}
.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
}
.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
}
.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
}
.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
}
.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
}
.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
}
.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0%;
}
.csslider > ul {
    position: relative;
    width: 820px;
    height: 420px;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    border: 10px solid #ffffff;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.csslider > ul > li {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 15px;
    font-size: initial;
    line-height: normal;
    -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
}
.csslider > .navigation {
    position: absolute;
    bottom: -8px;
    left: 50%;
    z-index: 10;
    margin-bottom: -10px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.csslider > .navigation > div {
      margin-left: -100%;
}
.csslider > .navigation label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 4px;
    padding: 4px;
    background: #3A3A3A;
}
.csslider > .navigation label:hover:after {
    opacity: 1;
}
.csslider > .navigation label:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
    background: #ff0000;
    border-radius: 50%;
    padding: 6px;
    opacity: 0;
}
.csslider > .arrows {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
    opacity: 1;
}
.csslider > .arrows {
    position: absolute;
    left: -31px;
    top: 50%;
    width: 100%;
    height: 26px;
    padding: 0 31px;
    z-index: 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.csslider > .arrows label {
    display: none;
    position: absolute;
    top: -50%;
    padding: 13px;
    box-shadow: inset 2px -2px 0 1px #3A3A3A;
    cursor: pointer;
    -moz-transition: box-shadow 0.15s, margin 0.15s;
    -o-transition: box-shadow 0.15s, margin 0.15s;
    -webkit-transition: box-shadow 0.15s, margin 0.15s;
    transition: box-shadow 0.15s, margin 0.15s;
}
.csslider > .arrows label:hover {
    box-shadow: inset 3px -3px 0 2px #ff0000;
    margin: 0 0px;
}
.csslider > .arrows label:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
}
.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
    display: block;
    left: 0;
    right: auto;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
    display: block;
    right: 0;
    left: auto;
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
/*#region MODULES */
/*#endregion */
/*___________________________________ LAYOUT ___________________________________ */
* {
    margin: 0;
    padding: 0;
}
ul {
    padding-left: 40px;
}

    #slider1 {
    margin: 20px;
    font-family: 'Lato';
}
#slider1 > input:nth-of-type(3):checked ~ ul #bg {
    width: 80%;
    padding: 22px;
    -moz-transition: .5s .5s;
    -o-transition: .5s .5s;
    -webkit-transition: .5s .5s;
    transition: .5s .5s;
}
#slider1 > input:nth-of-type(3):checked ~ ul #bg div {
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    -moz-transition: .5s .9s;
    -o-transition: .5s .9s;
    -webkit-transition: .5s .9s;
    transition: .5s .9s;
}
/*#videos */
/*___________________________________ LAYOUT ___________________________________ */
video { 
    width:710px; 
    height:400px;  
    background:transparent url('') no-repeat 0 0; 
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover; 
}
p {
    margin-left:3em;
}